# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Replit
.replit
replit.nix

# Misc
coverage/
